
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Prompt", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$primary-font: 'Prompt', sans-serif;

// Colors
$brand-color: #2068dd;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// buttons
@mixin btn-secondary {
  color: #6d6d6d;
  border: 1.5px solid #6d6d6d;
  border-radius: 0px;
  outline: none;
  background: none;
}
