
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800');
// Variables
@import 'variables';

@import '../../node_modules/pretty-checkbox/src/pretty-checkbox.scss';


// @import 'settings';

// Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// @import "../../vendor/bower_components/foundation/scss/foundation.scss";

// Components
@import "components";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container {
  width: 90%;
  margin: 0 auto;
}

#app {
  font-family: $primary-font;
  font-size: 14px;
}

body {
  background: #fff;
  height: 100%;
}

.btn-primary {
  background: $brand-color;
  padding: 10px 30px;
  border-radius: 30px;
  outline: none;
  border: none;

  & > a {
    color: #fff;
  }
}

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
}
