@import './variables.scss';

@import './components/home.scss';
@import './components/auth.scss';
@import './components/dashboard.scss';
@import './components/form.scss';

body {
    font-family: $primary_font;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
}

.btn {
    padding: 1.5em 2em;
    background: $brand_color;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5em;
    font-family: $primary_font;
    font-size: 1em;

    &.secondary {
        background: #fff;
        color: $brand_color;
    }
}

.fixed-button {
    position: fixed;
    width: max-content;
    bottom: 1em;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.navbar > .container {
    padding: 2em 0;
}

.hidden {
    display: none;
}