
#landing-page {
  height: 100%;
}

#intro-message {
  margin-top: 15em;
  text-align: center;
  font-family: 'Nunito', sans-serif;

  & > h1 {
    font-size: 4.5em;

    line-height: 90%;
    letter-spacing: -0.075rem;

  }

  & > p {
    font-size: 1.2em;
  }
}
