#add-q {
  background: $brand-color;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 25px;
  padding: 15px 25px;

  & > i {
    margin-right: 5px;
  }

}

.title {
  font-weight: 600;
  letter-spacing: -0.1rem;
  outline: none;
  border: none;
  transition-duration: 0.75s;
  border-bottom: 2px solid rgba(255,255,255,0);

  &::placeholder {
    color: #222;
  }

  &:focus {
    border-bottom: 2px solid #e3e3e3;
  }
}

#questionnaire-container {
  width: 65%;
  min-width: 300px;
  max-width: 1800px;
  margin: 0 auto;

  & > #questionnaire-form {
    width: 100%;


    & > .row-head {
      margin: 0;
      margin-bottom: 2.5em;


      h3.title {
        font-size: 1.25em;
        letter-spacing: -0.05em;
        color: #b0aeae;
        margin: 7.5px 0;
      }
    }

    & > .title {
      font-size: 3em;
    }

    & > .desc {
      letter-spacing: -0.05rem;
      outline: none;
      border: none;
      font-size: 1.25em;
      height: 50px;
      resize: none;
      font-weight: 300;
      margin-bottom: 10px;
    }


    #question-section {

      & > .question {
        padding: 30px 0px;
        border-bottom: 1px solid #d6d6d6;

        & > .row {
          margin: 0;
          padding: 0;

          & > .title {
            font-weight: 400;
            letter-spacing: -0.1rem;
            outline: none;
            border: none;
            font-size: 1.8em;
            transition-duration: 0.75s;
            border-bottom: 2px solid rgba(255,255,255,0);


            &::placeholder {
              color: #222;
              text-transform: capitalize;
            }

            &:focus {
              border-bottom: 2px solid #e3e3e3;
            }
          }

          & > .question-select {
            // background: #d6d6d6;
            @include btn-secondary;

            & > i {
              font-size: 0.8em;
              pointer-events: none;
              position: relative;
              left: -20px;
            }

            & > select {
              color: #6d6d6d;
              background: none;
              border: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              text-indent: 1px;
              text-overflow: '';
              outline: none;
              padding: 10px 15px;
              width: 90px;
              position: relative;
              left: 5px;

              & > option {
                padding: 5px 10px;
                -webkit-appearance: none;
                color: #6d6d6d;
              }
            }
          }


        }


        & > .question-inputs {
          padding: 10px 0;

          & > .open-input {
            padding: 7.5px 15px;
            border: 1px solid #6d6d6d;
            letter-spacing: -0.015em;
            border-radius: 5px;
            width: 100%;
          }

          & > .closed-option {
            // display: flex;
            min-width: 50px;

            // & > input.checkbox {
            //   margin: 5px 15px 5px 5px;
            // }

            & > input.closed-value {
              font-weight: 500;
              letter-spacing: -0.025em;
            }

            & > .pretty {

              & i.icon {
                font-size: 0.6em;
                padding: 1.5em 0.8em;
              }
            }
          }
        }

        & > .add-option {
          @include btn-secondary;
          padding: 10px 25px;
          font-weight: 600;
          font-size: 0.65rem;

          & > i {
            margin: 0px 10px 0 -2.5px;
          }
        }

        &:last-child {
          border: none;
        }


      }
    }
  }
}
