@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");
.home {
  margin: 0;
}
.home #landing-page {
  background-color: #1F1350;
  color: #fff;
  width: calc(100% - 2em);
  height: 100%;
  padding: 1em;
  display: grid;
  grid-template-rows: 7fr 3fr;
  position: fixed;
  left: 0;
  top: 0;
}
.home #landing-page .intro-message {
  display: flex;
  align-items: center;
  text-align: center;
}
.home #landing-page .intro-message div {
  width: 100%;
  line-height: 110%;
}
.home #landing-page .intro-message h1 {
  font-size: 3.75em;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.home #landing-page .intro-message .highlight {
  background: #ED1852;
  padding: 0.5em 1.5em;
  border-radius: 5em;
  font-size: 0.9em;
  display: inline;
}
.home #landing-page .footer-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.home #landing-page .footer-links a {
  width: 100%;
  margin: 0.7em 0;
}
.home #landing-page .footer-links a.btn {
  width: calc(100% - 4em);
}

.auth-page {
  background: #1F1350;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 3fr 7fr;
  text-align: center;
  overflow-y: scroll;
}
.auth-page.register {
  background: #fff;
  color: #1F1350;
}
.auth-page.register > form .form-footer {
  display: block;
  padding-top: 1em;
}
.auth-page.register > form .form-footer > .btn {
  padding: 1em 0;
}
.auth-page.register > form > div > input {
  border-bottom: 1.5px solid #1F1350;
  color: #1F1350;
  height: 1em;
}
.auth-page.register > form > div > input::placeholder {
  color: #1F1350;
}
.auth-page h1 {
  font-size: 3.75em;
  font-weight: 300;
  letter-spacing: -0.025em;
}
.auth-page .form-check {
  text-align: center;
  margin: 1em 0;
}
.auth-page > form {
  width: calc(100% - 4em);
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 7fr 3fr;
}
.auth-page > form .form-footer {
  display: grid;
}
.auth-page > form .form-footer .btn {
  padding: 0;
  margin-bottom: 1em;
}
.auth-page > form > div {
  width: 100%;
  display: block;
  grid-template-rows: auto;
  text-align: center;
}
.auth-page > form > div > button {
  width: 100%;
}
.auth-page > form > div > input {
  background: none;
  border: none;
  border-bottom: 1.5px solid #fff;
  font-size: 1em;
  color: #fff;
  padding: 1em 2em;
  margin: 1em 0;
  height: 2em;
  width: calc(100% - 4em);
}
.auth-page > form > div > input::placeholder {
  color: #fff;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dashboard {
  color: #1F1350;
}
.dashboard #page-content {
  padding-bottom: 6em;
}
.dashboard #page-content > .title {
  font-size: 2.5em;
  letter-spacing: -0.05em;
  font-weight: 600;
  margin: 0;
  line-height: 125%;
}
.dashboard #page-content > .subtitle {
  letter-spacing: -0.03em;
  font-weight: 400;
  border-bottom: 1px solid #1F1350;
  padding: 0.5em 0;
}
.dashboard .questionnaire-entry {
  border-bottom: 1px solid #e3e3e3;
  padding: 1em 0;
}
.dashboard .questionnaire-entry > .left {
  font-size: 1.1em;
}
.dashboard .questionnaire-entry > .left h3, .dashboard .questionnaire-entry > .left p {
  margin: 0;
}
.dashboard .questionnaire-entry > .left .fa-circle {
  font-size: 0.25em;
  display: inline-flex;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: calc(1.5em + 2px);
  color: grey;
}
.dashboard .questionnaire-entry > .left .fa-circle.public {
  color: #2DD020;
}
.dashboard .questionnaire-entry > .right {
  margin-top: 1em;
}
.dashboard .questionnaire-entry > .right > button {
  font-size: 0.8em;
}

.edit-form {
  color: #1F1350;
}
.edit-form .navbar {
  display: none;
}
.edit-form .btn {
  font-size: 0.7em;
}
.edit-form #overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 899;
}
.edit-form #delete-modal {
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 1em;
  z-index: 900;
  margin: 0 auto;
  font-size: 1.5em;
  border-bottom: 4px solid #1F1350;
}
.edit-form main > .container #questionnaire-container {
  padding-bottom: 4em;
}
.edit-form main > .container #questionnaire-container #answer-link {
  display: none;
}
.edit-form main > .container #questionnaire-container #questionnaire-form h3.title {
  font-weight: 400;
  padding: 1em 0;
  border-bottom: 1px solid #1F1350;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .btn > i {
  margin-right: 1em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form #add-q {
  position: fixed;
  font-size: 1.25em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  border: none;
  max-width: 700px;
}
.edit-form main > .container #questionnaire-container #questionnaire-form #questionnaire-title {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -0.03em;
  width: 100%;
  color: #1F1350;
  line-height: 110%;
  margin-top: 0.5em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .desc {
  font-size: 1em;
  width: 100%;
}
.edit-form main > .container #questionnaire-container #questionnaire-form textarea, .edit-form main > .container #questionnaire-container #questionnaire-form input {
  font-family: "Poppins", sans-serif;
  color: #1F1350;
  border: none;
  max-width: 100%;
  resize: none;
  outline: none;
}
.edit-form main > .container #questionnaire-container #questionnaire-form textarea:focus, .edit-form main > .container #questionnaire-container #questionnaire-form input:focus {
  transition: border 0.2s ease-in-out;
  border-bottom: 2px solid #1F1350;
}
.edit-form main > .container #questionnaire-container #questionnaire-form textarea {
  width: 100%;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .public-bar {
  display: flex;
  border-bottom: 4px solid #1F1350;
  margin-bottom: 2em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .public-bar > p {
  margin-right: 1em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .public-bar > .pretty > .state {
  position: relative;
  top: 1.25em;
  left: -0.5em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question {
  margin: 2em 0 4em 0;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question .open-input {
  width: calc(100% - 2em);
  border: 1px solid grey;
  padding: 1em;
  font-size: 1em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question textarea.title {
  font-size: 2em;
  text-transform: capitalize;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question .question-select {
  margin-bottom: 1em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question .q-select {
  font-size: 0.8em;
  width: max-content;
  cursor: pointer;
  padding: 0.5em 1em;
  padding-right: 0;
  margin-left: 1em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question .question-inputs {
  margin-bottom: 1.5em;
}
.edit-form main > .container #questionnaire-container #questionnaire-form .question .question-inputs .remove-option {
  padding: 0.5em;
}
.edit-form main > .container #save-bar {
  display: grid;
  grid-template-columns: 2fr 8fr;
  font-size: 0.8em;
  padding-top: 1.5em;
}
.edit-form main > .container #save-bar > .left {
  display: flex;
}
.edit-form main > .container #save-bar > .left > a {
  display: flex;
  align-items: center;
  height: auto;
}
.edit-form main > .container #save-bar > .left > a > i {
  margin-right: 0.5em;
}
.edit-form main > .container #save-bar > .right {
  height: 100%;
  text-align: right;
  width: 100%;
}
.edit-form main > .container #save-bar > .right #delete-questionnaire {
  margin: 0 0.5em;
}
.edit-form main > .container #save-bar > .right .btn {
  height: min-content;
  font-size: 0.8em;
}
.edit-form main > .container #save-bar > .right .btn.primary {
  padding-right: 2.5em;
}
.edit-form main > .container #save-bar > .right .btn.primary > i {
  margin-right: 1em;
}

.answer-form .header-text {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
}
.answer-form #save-q {
  position: fixed;
  font-size: 1.25em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  border: none;
  max-width: 700px;
}
.answer-form .navbar {
  display: none;
}
.answer-form .btn {
  font-size: 0.7em;
}
.answer-form main > .container #questionnaire-container {
  padding-bottom: 4em;
}
.answer-form main > .container #questionnaire-container #answer-link {
  display: none;
}
.answer-form main > .container #questionnaire-container #questionnaire-form {
  color: #1F1350;
}
.answer-form main > .container #questionnaire-container #questionnaire-form h1.title {
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -0.03em;
  width: 100%;
  color: #1F1350;
  line-height: 110%;
  margin-top: 0.5em;
}
.answer-form main > .container #questionnaire-container #questionnaire-form .question .subhead {
  font-size: 0.8em;
  margin: 0;
  font-size: 200;
}
.answer-form main > .container #questionnaire-container #questionnaire-form .question h3.title {
  font-weight: 600;
  padding: 0.2em 0;
  font-size: 2em;
  border-bottom: 1px solid #1F1350;
  text-transform: capitalize;
  margin-top: 0;
}
.answer-form main > .container #questionnaire-container #questionnaire-form .question .question-inputs .closed-option {
  display: flex;
  width: 100%;
  text-transform: capitalize;
}
.answer-form main > .container #questionnaire-container #questionnaire-form .question .question-inputs .closed-option .title {
  width: max-content;
  margin: 0;
  position: relative;
  top: -0.8em;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 600px;
}

.btn {
  padding: 1.5em 2em;
  background: #1F1350;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5em;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.btn.secondary {
  background: #fff;
  color: #1F1350;
}

.fixed-button {
  position: fixed;
  width: max-content;
  bottom: 1em;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.navbar > .container {
  padding: 2em 0;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=App.css.map */
